{% extends "layout.html" %}
{% block sidebar %}
{% if message %}
<div class="alert alert-{{ message[0][0] }} d-flex" role="alert">{{ message[0][1] }}</div>
{% endif %}
{% endblock sidebar %}
{% block content %}
<h1>Сайт: {{url_data.name}}</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="url">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{url_data.id}}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{url_data.name}}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{url_data.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
